/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  justify-content: center;
  padding-block-start: 100px;
  color: var(--text-color, #000);
  font-family: var(--main-font-family, "Inter-Variable", sans-serif);
  background-color: var(--bg-color, #fff);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: var(--accent-font-family, "PressStart2P", fantasy);
  line-height: normal;
  text-transform: uppercase;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  margin-block-end: 100px;
  max-inline-size: 700px;
  max-block-size: 368px;
}

.header-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: grid;
  justify-items: center;
  gap: 57px;
}

.card-list {
  display: grid;
  gap: 50px;
}

.card {
  border: 2px solid #000000;
  background: var(--bg-color, #fff);
  max-inline-size: 696px;
}

.card-title {
  border-block-end: 2px solid #000;
  padding: 4px 10px;
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght" var(--card-title-font-weight, 700);
}

.card-image-box {
  position: relative;
  overflow: hidden;
}

.card-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.filter-blur {
  filter: blur(3px);
}

.filter-brightness {
  filter: brightness(30%);
}

.filter-contrast {
  filter: contrast(250%);
}

.filter-drop-shadow {
  filter: drop-shadow(4px 4px red);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter-invert {
  filter: invert(100%);
}

.filter-many {
  filter: blur(3px) brightness(30%) drop-shadow(4px 4px red);
}

.image-watermark {
  position: absolute;
  inset-inline-end: clamp(0.6875rem, 0.4234rem + 1.1268vw, 1.4375rem);
  inset-block-start: 26px;
  opacity: 0.5;
  font-family: var(--accent-font-family, "PressStart2P", fantasy);
  font-size: 14px;
  line-height: normal;
  color: var(--text-color, #000);
  text-shadow:0 0 1px #fff;
  mix-blend-mode: hard-light;
  z-index: 1;
}

.watermark-uppercase {
  text-transform: uppercase;
}

.card-text {
  display: grid;
  gap: 26px;
  padding: 31px 25px 0 25px;
  border-block-start: 2px solid var(--text-color, #000000);
  font-size: 18px;
  line-height: 21px;
}

.card-buttons {
  display: flex;
  gap: 5px;
  padding: 25px 25px 23px 25px;
  align-items: stretch;
  justify-content: end;
}

.button {
  position: relative;
  border: 2px solid var(--text-color, #000);
  font-family: var(--accent-font-family, "PressStart2P", fantasy);
  font-size: 14px;
  text-transform: inherit;
  background: var(--bg-color, #fff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
  z-index: 1;
}

.card__like-button {
  inline-size: 130px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px #000;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--text-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
  z-index: -1;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

.card__icon-button {
  display: grid;
  background: #00000000;
  border: 2px solid #00000000;
  padding: 0;
  transition: border-color 0.3s ease;
  appearance: none;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, #000);
}

.footer {
  display: flex;
  justify-content: center;
  padding-block: 50px 103px;
}

.save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}

.floppy-icon {
  inline-size: 22px;
  block-size: 22px;
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

.dlg-floppy-icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.dlg-save {
  background: var(--bg-color, #fff);
  border: 2px solid var(--text-color, #000);
  padding: 30px;
  color: var(--text-color, #000);
  font-family: var(--accent-font-family, "PressStart2P", fantasy);
  line-height: 1.5em;
  text-transform: uppercase;
  max-inline-size: 355px;
}

.dlg-save::backdrop {
  opacity: 0.75;
  background: var(--black-color, #000);
}

.dlg-save[open] {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 30px;
}

.dlg-save-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dlg-save-button {
  inline-size: 100%;
  block-size: 38px;
}

@media (width <= 375px) {

  .floppy-icon {
    block-size: 28px;
    inline-size: 28px;
  }

  .save-button {
    flex-direction: column;
  }

  .dlg-save {
    max-inline-size: 340px;
    padding: 28px 34px 28px 40px;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--bg-color, #fff)) or
    (text-stroke: 1px var(--bg-color, #fff))) {
  .image-watermark {
    text-shadow: none;
    text-stroke: 1px var(----bg-color, #fff);
    -webkit-text-stroke: 1px var(----bg-color, #fff);
  }
}